@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.hireBlock {
     background-color: $bgColor;
     padding: 100px 0;
     .container {
	    @include container();
	    @include flex(column, space-between, center, nowrap);
	    height: 150px;
     }

}


