.contactBlock {
    height: 100vh;
    background-color: #d2c0cb;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.gitHubBlock {
    border: 1px solid;
    width: 360px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
}


.form input, .form textArea {
    width: 100%;
}

.submitBtn {
    padding: 10px 20px;
    width: 120px;
    background-color: darkgray;
}

@media screen and (max-width: 460px) {
    .form {
        width: 100%;
    }
}