@import "src/common/styles/sass/variables";

.contactBlock {
     height: 100vh;
     background-color: $bgSecondColor;
     color: $textColor;
     .contactContainer {
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
	    align-items: center;
	    .form {
		   display: flex;
		   flex-direction: column;
		   width: 45%;
		   align-items: center;
		   input, textArea {
			  width: 100%;
			  background-color: #eaeaef;
		   }
		   .submitBtn {
			  padding: 10px 20px;
			  width: 120px;
			  background-color: #d0cccc;
		   }
	    }
     }
}




@media screen and (max-width: 460px) {
     .form {
	    width: 100%;
     }
}