.mainBlock {
    height: 100vh;
    background-color: #d4e3e0;
}


.text {
    width: 360px;
    background-color: #d7d4cc;
}

.photo {
    width: 360px;
    height: 450px;
    background-color: #d7d4cc;
}