.projectBlock {
    width: 360px;
    background-color: #d4e3e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.icon {
    width: 150px;
    height: 150px;
    background-color: #f3cdcd;
}