@import "src/common/styles/sass/variables";

.footerBlock {
    background-color: $bgSecondColor;
    color: $textColor;
    .footerContainer {
        flex-direction: column;
        justify-content: flex-start;
        .socialIcons {
            width: 150px;
            background-color: $bgSecondColor;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: small;
            text-align: center;
            .socialIcon {
                width: 60px;
                height: 60px;
                background-color: $bgSecondColor;
                border: 1px solid green;
            }
        }
        .copyright {
            font-size: smaller;
        }
    }
}






