.footerBlock {
    background-color: darkseagreen;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {

}

.socialIcons {
    width: 250px;
    background-color: #d0dac2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    text-align: center;
}

.socialIcon {
    width: 60px;
    height: 60px;
    background-color: #d4e3e0;
}

.copyright {
    font-size: smaller;
}